#topdiv {
    top: 0%;
    left: 50%;
    width: 700px;
    height: 200px;
    margin-top: 20px;
    margin-left: -350px;
    /*border: 1px solid #ccc;
    background-color: #f3f3f3;*/
    position: fixed;
}

#topdiv div {
    position: relative;
    margin-left: 40px;
}

#topdiv .cardDivContainerHorizontal {
    position: absolute;
}

#bottomdiv {
    bottom: 0%;
    left: 50%;
    width: 700px;
    height: 200px;
    margin-bottom: 10px;
    margin-left: -350px;
    /*border: 1px solid #ccc;
    background-color: #f3f3f3;*/
    position: fixed;
}

 #bottomdiv div {
     position: relative;
     margin-left: 40px;
 }

 #bottomdiv .cardDivContainerHorizontal {
     position: absolute;
 }

.cardDivContainerHorizontal {
    display: inline-block;
    width: 50px
}

#leftdiv {
    top: 50%;
    left: 10%;
    width: 200px;
    height: 700px;
    margin-top: -350px;
    margin-left: 0px;
    /*border: 1px solid #ccc;
    background-color: #f3f3f3;*/
    position: fixed;
}

#leftdiv div {
    position: relative;
    margin-top: 40px;
}

    #leftdiv .cardDivContainerVertical {
        position: absolute;
    }

#rightdiv {
    top: 50%;
    right: 10%;
    width: 200px;
    height: 700px;
    margin-top: -350px;
    /*border: 1px solid #ccc;
    background-color: #f3f3f3;*/
    position: fixed;
}

#rightdiv div {
    position: relative;
    margin-top: 40px;
}

    #rightdiv .cardDivContainerVertical {
        position: absolute;
    }

.cardDivContainerVertical {
    display: inline-block;
    height: 40px
}


#middlediv {
    top: 50%;
    left: 50%;
    width: 700px;
    height: 200px;
    margin-top: -100px;
    margin-left: -350px;
    position: fixed;
}

.cardHorizontal {
    display: inline-block;
    margin-top: 20px;
}

.cardVerticalLeft {
    display: flow-root;
    margin-top: 10px;
    margin-left: 50px;
    transform: rotate(90deg);
}

.cardDivContainerMiddle {
    display: inline-block;
    width: 50px
}

.cardVerticalRight {
    display: flow-root;
    margin-top: 10px;
    margin-left: 50px;
}

.cardMiddleHorizontal {
    display: inline-block;
    margin-top: 20px;
    margin-left: 250px;
    transform: rotate(-30deg);
}

#cubediv {
    top: 230px;
    left: 10px;
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-left: 40px;
    position: fixed;
}

#middlediv {
    margin-left: -100px;
    width: 0;
    width: 200px;
    background: none;
}

.cardDivContainerMiddle {
    position: absolute;
    margin-left: 50px;
}

.cardDivContainerVertical, .cardDivContainerHorizontal, #deckdiv, #unobuttondiv {
    cursor: pointer;
}

#deckdiv {
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -350px;
    position: fixed;
}

    #deckdiv img {
        width: 150px;
    }

#cubediv {
    top: 45%;
    left: 50%;
    margin-top: -117px;
    margin-left: 220px;
    overflow: hidden;
    width: 120px;
    height: 120px;
}

    #cubediv img {
        width: 50px;
    }

#unobuttondiv {
    bottom: 25%;
    left: 50%;
    margin-top: 40px;
    margin-left: 250px;
    position: fixed;
}

#messagediv {
    bottom: 25%;
    left: 30%;
    margin-top: 40px;
    margin-left: 30px;
    position: fixed;
}

#disputeButtons {
    bottom: 26%;
    left: 36%;
    margin-top: 20px;
    margin-left: 200px;
    position: fixed;
}

#messagep {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    font-weight: bold;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#arrowsdiv {
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    position: fixed;
}

#arrowsimg {
    width: 300px;
    height: 300px;
}

.rightRotation {
    animation-name: rightRotate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.leftRotation {
    animation-name: leftRotate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rightRotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes leftRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

.playerName {
    color: white;
    font-weight: bold;
    margin-top: -40px;
    margin-left: 20px;
}

#playerBottom {
    bottom: 0%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-left: -420px;
    position: fixed;
}

#playerTop {
    top: 0%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: -420px;
    position: fixed;
}

#playerLeft {
    top: 50%;
    left: 1%;
    width: 150px;
    height: 150px;
    margin-top: -120px;
    position: fixed;
}

#playerRight {
    top: 50%;
    right: 1%;
    width: 150px;
    height: 150px;
    margin-top: -120px;
    position: fixed;
}

@keyframes bottomToCenter {
    0% {
        transform : translateY(300px)
    }

    100% {
        transform : translateY(0px)
    }
}

.bottomToCenter {
    animation-name: bottomToCenter;
    animation-duration: 2s;
}

@keyframes topToCenter {
    0% {
        transform : translateY(-300px)
    }

    100% {
         transform : translateY(0px)
    }
}

.topToCenter {
    animation-name: topToCenter;
    animation-duration: 2s;
}

@keyframes leftToCenter {
    0% {
        transform : translateX(-300px)
    }

    100% {
        transform : translateY(0px)
    }
}

.leftToCenter {
    animation-name: leftToCenter;
    animation-duration: 2s;
}

@keyframes rightToCenter {
    0% {
        transform: translateX(300px)
    }

    100% {
        transform: translateY(0px)
    }
}

.rightToCenter {
    animation-name: rightToCenter;
    animation-duration: 2s;
}

/*#bounce {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -140px;
    position: fixed;
}*/

.bounce-enter-active {
    animation: bounce-in .5s;
}

.bounce-leave-active {
    animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

